<p *ngFor="let temp of book">
  {{temp.name}} -- {{temp.author}}
</p>

<hr>
<div style="background-color: bisque; padding: 25px;">
  <h4> Add New Book</h4>
  <label>Enter Book Id : </label>
  <input type="number" [(ngModel)] = "addId" />
  <br><br>
  <label>Enter Book Name : </label>
  <input type="text" [(ngModel)] = "addName" />
  <br><br>
  <label>Enter Book Author Name : </label>
  <input type="text" [(ngModel)] = "addAuthor" />
  <br><br>
  <button type="button" (click)="addBook()">Add new Book</button>
</div>
<hr>

<div style="background-color: bisque; padding: 25px;">
  <h4>Delete Book </h4>
  <label> Delete Book Id : </label>
  <input type="number" [(ngModel)]="deletedId" />
  <br><br>
  <button type="button" (click)="deleteBook()">Delete book</button>
</div>
